*{
    margin: 0;
    padding: 0;

}
.main{
    width: 100%;
    background-image: url(catimg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    height: 500vh;
        

}
.container_1{
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 80vh;
    background-color: rgba(240, 248, 255, 0.651);
}
.item_1{
    border: 1px solid black;
    width: 33.30%;
    height: 100%;

}
.item_1:hover{
    background-color: #81848670;
}
.container_2{
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 80vh;
    background-color: rgba(240, 248, 255, 0.651);
}
.item_2{
    border: 1px solid black;
    width: 33.30%;
    height: 100%;

}
.item_2:hover{
    background-color: #81848670;
}
.container_3{
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 80vh;
    background-color: rgba(240, 248, 255, 0.651);
}
.item_3{
    border: 1px solid black;
    width: 33.30%;
    height: 100%;

}
.item_3:hover{
    background-color:#81848670 ;
}
.container_4{
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 80vh;
    background-color: rgba(240, 248, 255, 0.651);
}
.item_4{
    border: 1px solid black;
    width: 33.30%;
    height: 100%;

}
.item_4:hover{
    background-color: #81848670;
}
.image{
    width: 80%;
    height: 63vh;
    border: 1px solid rgb(56, 54, 54);
    margin-left: 40px;
    margin-top: 10px;
}
h4{
    padding-top: 5px;
    text-align: center;
    font-style: inherit;

}
h4:hover{
    color: #f1efef;
}
h1{
    color: #f1efef;
}
h1:hover{
    color: orangered;
    text-shadow: 1px 2px 3px;
}
input[type="submit"]{
    width:25%;
    height: 25px;
    border: 1px solid;
    background: #1288bee5;
    border-radius: 25px;
    font-size: 14px;
    color: aliceblue;
    font-weight: 500;
    outline: none;
    float: right;
    margin-right: 167px;
    margin-top: 10px;
}
input:hover{
    background: #38393d;
    transition: 0.2s;
    box-shadow: 0 0 0 3px rgb(58, 56, 56);
    
}
.cart{
        position: absolute;
        top: 380vh;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        border-radius: 10px;
        float: left;
        padding-left: 25px;
        color: white;
        
}

@media screen and (max-width:500px){
    .container_1{
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 40vh;
    background-color: rgba(240, 248, 255, 0.651);
}
.item_1{
    border: 1px solid black;
    width: 15%;
    height: 50%;

}
.item_1:hover{
    background-color: #81848670;
}
.container_2{
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 40vh;
    background-color: rgba(240, 248, 255, 0.651);
}
.item_2{
    border: 1px solid black;
    width: 15%;
    height: 50%;

}
.item_2:hover{
    background-color: #81848670;
}
.container_3{
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 40vh;
    background-color: rgba(240, 248, 255, 0.651);
}
.item_3{
    border: 1px solid black;
    width: 15%;
    height: 50%;

}
.item_3:hover{
    background-color:#81848670 ;
}
.container_4{
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 80vh;
    background-color: rgba(240, 248, 255, 0.651);
}
.item_4{
    border: 1px solid black;
    width: 15%;
    height: 50%;

}
.item_4:hover{
    background-color: #81848670;
}
.image{
    width: 30%;
    height: 25vh;
    border: 1px solid rgb(56, 54, 54);
    margin-left: 20px;
    margin-top: 5px;
}
}
